# Bytecode
__pycache__/
*.pyc

# Virtual environment
venv/

# Distribution / Build artifacts
build/
dist/
*.egg-info/

# Setuptools specific
.eggs/

# Configuration files
.env
.env.local

# Logs
*.log

# Database
*.db

# ignore papers
papers/

# ignore vscode directory
.vscode/

# ignore .DS_Store file
.DS_Store

# ignore pycache
__pycache__/

# ignore chroma_db
chroma_db/
backend/chroma_db/chroma.sqlite3
chroma_db/chroma.sqlite3
